@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#2c3039;
    font-family: 'Roboto', sans-serif;    
}

h2 {
    font-size : xx-large ;
    font-weight: 200;    
}

h3 {
    font-size: 24px;
    color: #5F6F81;
    font-weight: 200;
    margin-left: 15px;;    
}

.main-content-col {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #F4F4F6;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F6 ;
}

.header-description {
    width: 60%;
    text-align: center;
    color: #5F6F81;
    font-size: 20px;    
}

.content {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 80px;
    background-color: #F4F4F6 ;
}

.footer {
    height: 100px;
    display: flex;
    color: #24C3B5;
    flex-direction: column;
    align-items: center;
    background-color:#2c3039;    
}

.content-title {
    height: 60px;
    background-color: #FFFFFF;    
}

.content-menu {
    width: 15%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background-color:  #FFFFFF;
}
.content-body {
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;      
}
.content-body-2 {
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;    
}

.content-body-2-col1 {
    width: 7%;
    height: 100%;    
}
.content-body-2-col2 {
    width: 86%;
    height: 100%;    
}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    overflow: auto;    
}

.content-menu-item,.content-menu-item-select {
    transition: 0.6s;    
    margin: 2px;
    height: 1rem;
    font-size: 20px;
    padding: 15px;
    color: #5F6F81;
    outline: none;    
}

.content-menu-item-select {
    color: #24C3B5;
    border-right: 4px solid #24C3B5;  
}
.content-menu-item:hover{
    font-weight: bold;             
 }

 .content-menu-item:focus {
    color: #24C3B5 ;
    outline: none;
    border-right: 4px solid #24C3B5;
}

.line-separator {
    background-color: #BDC3C7;
    width: 1px;
    height: 100%;
}

.uline-title {
    background-color: #24C3B5;
    width: 60px;
    height: 4px;
    margin-bottom: 50px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;

}

.content_middle {
  display: flex;
  flex-direction: column; /*items get arrange in column*/
  width : 680px;
  justify-content: start; /*item arranged from top to bottom*/
  align-items: stretch; /*all items are centred*/    
}

.txt_single {
  height: 1rem;
}

.txt_multi {
  height: 13rem;
}

.txt_multi,.txt_single {
  border-radius: 5px;  
  resize: none;
  font-size: medium;
  font-weight: normal;  
  padding: 1rem;  
  background-color: #F4F4F6;
  border-color: transparent;
  outline: none;
  margin: 15px;
  margin-top: 0px;        
}

.btn_basic {
  width:230px;
  height: 45px;
  margin: 15px;
  border-radius: 22px;
  font-size: large;
  color: #FFFFFF;  
  background-color: #24C3B5;
  outline: none;  
}

.lbl_basic {
  color: #5e6f81;  
  border-radius: 10px;
  margin: 15px;
  font-size: large;  
}