html, body {
    height: 100%;
    margin: 0;
  }
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;

}
.header{
  font-family: 'Courier New', Courier, monospace;  
  align-items:center;
}

.footer {
  font-family: 'Courier New', Courier, monospace;
  display: flex;  
  align-items:center;
  flex-direction: column;
}
.content {
  display: flex;  
  flex-direction: row; /*items get arrange in row*/      
  flex: 1;
  overflow: auto; /*allow to scroll*/
  justify-content: center; /*make the main content_area centred*/
  align-items: stretch; /*make content_area grow all the way to the end of the screen */
}

.content_middle {
  display: flex;
  flex-direction: column; /*items get arrange in column*/
  min-width : 400px;
  justify-content: start; /*item arranged from top to bottom*/
  align-items: stretch; /*all items are centred*/    
}

.txt_single {
  height: 2rem;
  resize: none;
}

.txt_multi {
  height: 10rem;
  resize: none;  
}

.btn_basic {
  min-height: 3rem;
  background-color: lightseagreen;
}

.lbl_basic  {
  color: darkgrey;
}
.txt_single, .txt_multi, .btn_basic, .lbl_basic  {
  border-radius: 10px;
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;  
  font-weight: bold;
}
