.object-item {
    width: 100%;

    .items-wrap {
        gap: 15px;
        width: 100%;
        display: grid;
        grid-template-columns: 30% auto;
    }

    &[data-flex='true'] {
        .items-wrap {
            display: flex;
        }
    }

    @media screen and (max-width: 960px) {
        .items-wrap {
            display: flex;
            flex-direction: column;

            .item-wrap {
                padding-left: 20px;
            }
        }
    }
}
