$theme: #24c3b5;
$error: #d32f2f;
$light-1: #eff0f6;
$grey: #939393;
$font-black: #2f2f2f;
$pending: #f29339;

.json-form-component {
    .form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .item-wrap {
        display: flex;
        gap: 10px;

        .icon {
            &.remove {
                color: $error;
            }
        }
    }

    @import './array-item';
    @import './text-item';
    @import './object-item';
}
